<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.warshop_id">

    <application
        android:icon="@mipmap/ic_launcher_foreground"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TA_Dncc_AdamAlfarizi"
        android:fullBackupContent="@xml/backup_descriptor"
        tools:ignore="AllowBackup">
        <activity android:name="com.example.warshop_id.ActivityScreen.DetailBarang" android:screenOrientation="portrait" />
        <activity android:name="com.example.warshop_id.ActivityScreen.NotificationsActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.warshop_id.ActivityScreen.ChatActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.warshop_id.SplashScreen" android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.example.warshop_id.ActivityScreen.SettingsMenu" android:screenOrientation="portrait"/>
        <activity android:name="com.example.warshop_id.ActivityScreen.ProfileActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.warshop_id.ActivityScreen.LocationActivity" android:screenOrientation="portrait"/>
        <activity android:name="com.example.warshop_id.HalamanUtama" android:screenOrientation="portrait" />
        <activity android:name="com.example.warshop_id.SignUp" android:screenOrientation="portrait" />
        <activity android:name="com.example.warshop_id.LoginActivity" android:screenOrientation="portrait"/>
    </application>

</manifest>